
.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;


}
.logotipo{
  color: #06f;
  font-size: 48px;
  cursor: pointer;
}
.Lista-NavBar {
  align-items: center;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.Link{
  gap: 5px;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  color: #19191a;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  transition: all ease-in 0.08s;

}
.Link:hover{
 /* text-decoration: underline;*/
  color: var(--blue);
  background-color: #f8f8f8;

}
/*
.Sign{
  display: flex;
  align-items: center;
  font-family: 'Inter';
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  background-color: var(--blue);
  color: aliceblue;
  text-decoration: none;
  border-radius: 0.25rem;
}
.Sign:hover{
  background-color: #1f79ff;
}*/
.iconhome{
  margin-bottom: 4px;
}
