.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.page-signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    outline: 1px solid #d1d1d1;
    border-radius: 0.25rem;
    margin-top: 3.5rem;
    padding: 5em;
    margin-bottom: 8rem;
    
}
.page-signup span{
    text-align: center;
    font-size: 13px;
    color: gray;
}
.signup-title{
    font-size: 50px;
    color: var(--blue);
    margin-bottom: 2rem;

}
.page-signup label{
    text-align: left;
    font-family: 'Inter';
    font-size: 15px;
}
.signup-form{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.signup-form .input{
    padding: 0.7em;
    font-size: 14px;
    font-family: 'Inter';
    outline: none;
    border: 1px solid gray;
    border-radius: 0.25rem;


}
.container-buttons-signup{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.2rem;
}

.Google{
    margin-left: 24px;
}

.Facebook{
    margin-left: 5px;
}
.Twitter{
    margin-left: 5px;
}